<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ pageTitle }}</title>
  <link rel="stylesheet" href="/css/main.css" />
  {{#if cardListCSS}}
    <link rel="stylesheet" href="/css/card-list.css" />
  {{/if}}
</head>
<body>
  <header class="header">
    <nav>
      <ul>
        <li class="{{#if activeShop}}active{{/if}}"><a href="/">Shop</a></li>
        <li class="{{#if activeAddProduct}}active{{/if}}"><a href="/admin/add-product">Add Product</a></li>
      </ul>
    </nav>
  </header>
  {{{ body }}}
</body>
</html>