<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
  <header class="header">
    <nav>
      <ul>
        <li class="active"><a href="/">Shop</a></li>
        <li><a href="/admin/add-product">Add Product</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h1>My Products.</h1>
    <div class="card-list">
      <article class="card-list__item">
        <header class="card-list__header">
          <h1 class="card-list__title">product.title</h1>
        </header>
        <div class="card-list__image">
          <img src="https://cdn.vox-cdn.com/thumbor/ScFsT54iLxIMNdTfBzxakhktMMk=/0x0:2040x1360/2420x1613/filters:focal(857x517:1183x843)/cdn.vox-cdn.com/uploads/chorus_image/image/65982738/akrales_190723_3560_0016.0.jpg", alt="A Book" />
        </div>
        <div class="card-list__content">
          <h2 class="card-list__price">$19.99</h2>
          <p class="card-list__price">A very interesting book about so many even more interesting things!</p>
        </div>
        <div class="card-list__button">
          <button class="btn">Add to Cart</button>
        </div>
      </article>
    </div>
  </main>
</body>
</html>