extends layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/main.css")
  link(rel="stylesheet", href="/css/card-list.css")

block content
  main
      if prods.length > 0
        .card-list
          each product in prods
            article.card-list__item
              header.card-list__header
                h1.card-list__title #{product.title}
              .card-list__image
                img(src="https://cdn.vox-cdn.com/thumbor/ScFsT54iLxIMNdTfBzxakhktMMk=/0x0:2040x1360/2420x1613/filters:focal(857x517:1183x843)/cdn.vox-cdn.com/uploads/chorus_image/image/65982738/akrales_190723_3560_0016.0.jpg", alt="A Book")
              .card-list__content
                h2.card-list__price $19.99
                p.card-list__price A very interesting book about so many even more interesting things!
              .card-list__button
                button.btn Add to Cart
      else
        h1 No Products
